body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toDoListContent {
  background-color: rgb(52, 58, 64);
  width: 80%;
  min-height: 300px;
}
.title {
  text-align: center;
  color: white;
  font-size: 25px;
  margin: 50px 0;
}
.container_inputAndButton {
  display: flex;
  width: 90%;
  /* border: 2px solid orangered; */
}

.container_inputAndButton > * {
  display: flex;
  justify-content: center;
}

.container_input {
  width: 60%;
}

.container_input input {
  padding-left: 5px;
}

.container_ButtonFilter {
  width: 40%;
}
.container_input *,
.container_ButtonFilter * {
  border-radius: 5px;
}

.container_ButtonFilter button {
  margin-right: 15px;
  background-color: transparent;
}

.container_ButtonFilter button:hover {
  cursor: pointer;
  color: white !important;
}

#All {
  border: 1px solid rgb(0, 123, 255);

  color: rgb(0, 123, 255);
}
#All:hover {
  background-color: rgb(0, 123, 255);
}

#Done {
  border: 1px solid rgb(40, 167, 69);

  color: rgb(40, 167, 69);
}

#Done:hover {
  background-color: rgb(40, 167, 69);
}
#toDo {
  border: 1px solid rgb(177, 57, 64);

  color: rgb(177, 57, 64);
}

#toDo:hover {
  background-color: rgb(177, 57, 64);
}

.container_CreatedTask {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.div_Icon {
  display: flex;
  justify-content: space-evenly;
  min-width: 100px;
  /* border: 2px solid yellow; */
}

i {
  font-size: 25px;
}

i:hover {
  cursor: pointer;
  color: white;
}
i:first-of-type {
  color: rgb(255, 193, 7);
}
i:first-of-type:hover {
  background-color: rgb(255, 193, 7);
}

i:last-of-type {
  color: rgb(220, 53, 69);
}

i:last-of-type:hover {
  background-color: rgb(220, 53, 69);
}

.taskNode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
}

label {
  display: inline-block;
  margin-right: 50px;
}
